<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Catalog</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'static/home.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Welcome!</h1>
    <p>
        <a href="">Log In/Register</a>
    </p>
</header>
<header id="logged">
    <h1>Welcome [name]!</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">View Cart</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
</header>

<body>
    <h2>Category Name: {{ category.category }}</h2>
    <div id="container">
        <div id="left">
            <div class="section">
                <img src="static/images/image.png" alt="section-img">
                <div class="desc">
                    <h3>Product name: {{ category.products.name }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="section">
                <img src="static/images/image.png" alt="section-img">
                <div class="desc">
                    <h3>Product name: {{ category.products.name }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="section">
                <img src="static/images/image.png" alt="section-img">
                <div class="desc">
                    <h3>Product name: {{ category.products.name }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="section">
                <img src="static/images/image.png" alt="section-img">
                <div class="desc">
                    <h3>Product name: {{ category.products.name }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="section">
                <img src="static/images/image.png" alt="section-img">
                <div class="desc">
                    <h3>Product name: {{ category.products.name }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="section">
                <img src="static/images/image.png" alt="section-img">
                <div class="desc">
                    <h3>Product name: {{ category.products.name }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <footer>
    <div></div>
</footer> -->

</html>